@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Josefin Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: Yeseva One, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-container {
  background-color: #2d3748; /* gray-700 */
  padding: 20px;
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 20px;
}
